* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* containers */
body {
    background-image: url(../img/background.png);
    background-repeat: repeat-x;
    height: 100%;
    background-color: #d3d3c8;
    font-family: ‘Lato’, sans-serif;
}

main {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    height: 100%;
}

#container {
    display: flex;
    height: calc(100vh - 40px);
    width: 90vw;
}

/* users column */
.users {
    min-width: 300px;
    width: 30%;
    height: 100%; 
    background-color: white;
}

 .user {
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: #e5e5e5;
    border-right: 2px solid #dadada;
    font-size: 20px;
    align-items: center;
 }

 .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #dadada;
    position: relative;
    cursor: pointer;    
 }

 .row.friend:hover {
    background-color: #ebebeb69;
 }

 .new-msg {
    background-color: #7dd1fb;
    padding: 20px 5px; 
    justify-content: flex-start;
    display: flex;
 }

 .search {
    height: 60px;
    border-bottom: 1px solid #dadada;  
 }

 .user-avatar {
    height: 50px;
    width: 50px;
    margin: 0 5px;
 }

 .user-avatar img {
    height: 100%;
    border-radius: 50%;
 }

 .user-card {
    display: flex;
    font-size: 14px;
    align-items: center;
 }

 .user-name {
    line-height: 70px;
 }

 .utilities {
    color: #a2a2a2;
    line-height: 70px;
    padding-right: 10px;
 }

 .utilities i {
    margin: 0 7px;
 }

 .bell {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    margin-right: 10px;
 }
 .bell i {
    color: #6dc6fa;
 }

 .search {
    line-height: 60px;
 }

 .search i {
    line-height: 60px;
    margin: 0 20px;
 }

.notifications {
    text-decoration: underline;
    font-size: 13px;
    margin-top: 3px;
    color:grey;
}

 .last-msg-time {
    margin-top: 5px;
    margin-right: 5px;
    color: #a9aeaf;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
 }

 .last-msg {
    color: #a9aeaf;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 17px;
    width: 300px;
    margin-top: 5px;
 }

 .contacts-container {
    overflow-x: hidden;
    height: calc(100% - 220px);
    overflow-y: auto;  
}

.active {
    background-color: #e4e6e6;
}

.drop-down-arrow {
    display: inline-block;
    transform: rotate(90deg);
    position: absolute;
    top: 7px;
    right: 16px;
}

 /* chat section */
.chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    min-width: 400px;
    background-color: rgb(200, 219, 219);
    height: 100%;
    background-image: url(../img/chat_bg.png)
}


.login-time {
    color: grey;
}

.input-container {
    height: 70px;
    background-color:#f0eae4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    color: #586063;
}

input {
    width: 80%;
    height: 50px;
    border: 0;
    border-radius: 5px;
}

.chat-bubble-container {
    height: calc(100% - 140px);
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

.sent {
    background-color: #ccfaac;
    align-self: flex-end;  
}

.received {
    background-color: white;  
}

.chat-bubble {
    display: flex;
    flex-direction: column;
} 

.msg {
    padding: 5px 10px;
    margin: 5px 40px;
    border-radius: 10px; 
    min-width: 40%;
    max-width: 40%; 
    position: relative;
}

.date {
    display: flex;
    justify-content: flex-end;
    font-size: 11px;
    color: #a9aeaf;
}

.text {
    margin-top: 10px;
}



