*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/background.png);
    background-repeat: repeat-x;
    height: 100%;
    background-color: #d3d3c8;
    font-family: ‘Lato’, sans-serif;
}

main {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    height: 100%;
}

#container {
    display: flex;
    height: calc(100vh - 40px);
    width: 90vw;
}

/* users column */
.users {
    min-width: 300px;
    width: 30%;
    height: 100%; 
    background-color: white;
}
 .user {
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: #e5e5e5;
    border-right: 2px solid #dadada;
    font-size: 20px;
 }

 .row {
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 80px;
     border-bottom: 1px solid #dadada;
 }

 .new-msg {
     background-color: #7dd1fb;
     padding: 20px 5px; 
    justify-content: flex-start;
    display: flex;
 }

 .search {
     height: 60px;
     border-bottom: 1px solid #dadada;  
 }

 .user-avatar {
     height: 50px;
     width: 50px;
     margin: 0 5px;
 }

 .user-avatar img {
     height: 100%;
     border-radius: 50%;
 }

 .user-card {
     display: flex;
     font-size: 14px;
 }

 .user-name {
    line-height:70px;
 }

 .utilities {
     color: #a2a2a2;
     line-height: 70px;
     padding-right: 10px;
 }

 .utilities i {
    margin: 0 7px;
 }

 .bell {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    line-height:50px;
    margin-right: 10px;
 }

 .search {
     display: flex;
     line-height:60px;
 }

 .search i {
     line-height: 60px;
     margin: 0 20px;
 }

 .last-msg-time {
     align-self: flex-start;
     margin-top: 5px;
     margin-right: 5px;
     color:#a9aeaf;
     font-size: 12px;
 }

 .last-msg {
     color:#a9aeaf;
     overflow: hidden;
     width: 100px;
     height: 20px;
 }


 /* chat section */
.chat {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    min-width: 400px;
    background-color: rgb(200, 219, 219);
    height: 100%;
    background-image: url(../img/chat_bg.png)
}


.login-time {
    color: grey;
}

.input-container {
    height: 70px;
    background-color:#f0eae4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    color:#586063;
}

input {
    width: 80%;
    height: 50px;
    border: 0;
    border-radius: 5px;
}

.chat-bubble-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sent {
    background-color:#ccfaac;
    align-self: flex-end;
    min-width: 40%;
}

.received {
    background-color:white;
    max-width: 40%;
}

.chat-bubble{
    display: flex;
    flex-direction: column;
} 

.msg {
    padding: 5px 10px;
    margin: 5px 20px;
    border-radius: 10px;  
}

.date {
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
}

.text {
    margin-top: 10px;
}

.active {
    background-color: #e4e6e6;
}