<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>boolzapp</title>
</head>
<body>
    <!-- creare il layout  -->
    <main>
        <div id="container">
            <section class="users">
                <div class="user">
                    <div class="user-card">
                        <div class="user-avatar">
                            <img src="img/avatar_1.jpg" alt="avatar1">
                        </div> 
                        <div class="user-name"> Amalia</div>
                    </div>
                    <div class="utilities">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="new-msg row">
                    <div class="bell">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div class="new-msg-text">
                        <p>Ricevi notifivhe di nuovi messaggi</p>
                        <p>attiva notifiche desktop</p>
                    </div>
                </div>

                <div class="search">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="search" >
                </div>
                <div class="contacts-container">
                    <div class="row friend" v-for="contact, i in contacts" :key="i" @click="addActive(contact.id);" :class="selectedId === contact.id? 'active' : '' " v-if="contact.name.toLowerCase().includes(search.toLowerCase())" >
                        <div class="user-card">
                            <div class="user-avatar">
                                 <img :src="'img/avatar'+ contact.avatar +'.jpg'" alt="avatar1">
                            </div> 
                            <div class="user-name-friend"> 
                                <p class="contact-name">{{contact.name}}</p>
                                <p class="last-msg">{{contact.messages[contact.messages.length -1].text}}</p>
                            </div>
                        </div>
                        <div class="last-msg-time">
                            {{contact.messages[contact.messages.length -1].date}}
                        </div>
                    </div>
                </div>
                
            </section>
            <section class="chat">
                <div class="user">
                    <div class="user-card" v-for="contact in contacts" v-if="contact.id === selectedId">
                        <div class="user-avatar">
                            <img :src="'img/avatar'+ contact.avatar +'.jpg'" alt="avatar">
                        </div> 
                        <div class="user-name-friend"> 
                            <p>{{contact.name}}</p>
                            <p class="login-time">Ultimo accesso oggi alle {{getSelectedMessages()[getLastMessage()].date}} </p>
                        </div>
                    </div>
                    <div class="utilities">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <!-- quando il contatto è cliccato, cambiano i contenuti dei messaggi in chat e i dati dell'utente in alto 
                    generare in pagina i testi dinamici-->
                <div class="chat-bubble-container">
                    <div class="chat-bubble" v-for="contact in contacts" v-if="contact.id === selectedId">
                        <div class="msg" v-for="message in contact.messages" :class="message.status === 'sent'?'sent':'received'">
                            <p class="text">{{message.text}}</p>
                            <p class="date">{{message.date}}</p>
                        </div>
                    </div>

                </div>
                <div class="input-container">
                    <i class="far fa-smile"></i>
                    <input type="text" placeholder=" Scrivi un messaggio" v-model="userMsg" @keyup.enter="submit" >
                    <i class="fas fa-microphone"></i>
                </div>
            </section>
        </div>

    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.7/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/myscript.js"></script>
</body>
</html> 

<!-- search passi logici 
    1 salvare in una variabile il valore dell'input
    2 fare una funzione che mi confronta il valore dell'input con i nomi dei contatti
        se corrispondono ,stampare in pagina solo i contatti trovati
-->