<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>boolzapp</title>
</head>
<body>
    <!-- creare il layout  -->
    <main>
        <div id="container">
            <section class="users">
                <div class="user">
                    <div class="user-card">
                        <div class="user-avatar">
                            <img src="img/avatar_1.jpg" alt="avatar1">
                        </div> 
                        <div class="user-name"> Nome utente</div>
                    </div>
                    <div class="utilities">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="new-msg row">
                    <div class="bell">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div class="new-msg-text">
                        <p>Ricevi notifivhe di nuovi messaggi</p>
                        <p>attiva notifiche desktop</p>
                    </div>
                </div>
                <div class="search">
                    <i class="fas fa-search"></i>
                    <p>Cerca o inizia una nuova chat</p>
                </div>
    <!-- All'click su contatto creo una classe active -->
                <div class="row" v-for="contact, i in contacts" :key="i" @click="addActive(contact.id); test(contact.avatar, contact.id, contact.name)" :class="selectedId === contact.id? 'active' : '' " >
                    <div class="user-card">
                        <div class="user-avatar">
                            <img :src="'img/avatar'+ contact.avatar +'.jpg'" alt="avatar1">
                        </div> 
                        <div class="user-name-friend"> 
                            <p>{{contact.name}}</p>
                            <p class="last-msg">Last msg...</p>
                        </div>
                    </div>
                    <div class="last-msg-time">
                        10/01/2021 16:30:22
                    </div>
                </div>
               
            </section>
            <section class="chat">
                <div class="user">
                    <div class="user-card">
                        <div class="user-avatar">
                            <img src="img/avatar_1.jpg" alt="avatar1">
                        </div> 
                        <div class="user-name-friend"> 
                            <p>Nome utente</p>
                            <p class="login-time">Ultimo accesso oggi alle 16:15</p>
                        </div>
                    </div>
                    <div class="utilities">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <!-- quando il contatto è cliccato, cambiano i contenuti dei messaggi in chat e i dati dell'utente in alto 
                    generare in pagina i testi dinamici-->
                <div class="chat-bubble-container">
                    <div class="chat-bubble" v-for="contact in contacts" v-if="contact.id === selectedId">
                        <div class="msg" v-for="message in contact.messages" v-for :class="message.status === 'sent'?'sent':'received'">
                            <p class="text">{{message.text}}</p>
                            <p class="date">10/01/2021 16:30:22</p>
                        </div>
                    </div>

                    <!-- <div class="sent msg">
                        <p class="text">lorem ipsum amet</p>
                        <p class="date">10/01/2021 16:30:22</p>
                    </div> -->
                    <!-- <div class="received msg">
                        <p class="text">ipsum</p>
                        <p class="date">10/01/2021 16:30:22</p>
                    </div> -->
                </div>
                <div class="input-container">
                    <i class="far fa-smile"></i>
                    <input type="text" placeholder=" Scrivi un messaggio">
                    <i class="fas fa-microphone"></i>
                </div>
            </section>
        </div>

    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/myscript.js"></script>
</body>
</html> 